* {
    box-sizing: border-box;
}

body {
    background-image: url(assets/background.jpg);
}

h1 {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    text-align: center;
    color: black;
    padding: 50px 10px 10px 10px;
}

#main-body {
    background-color: #ede4d1;
    margin: 30px;
    border-radius: 25px;
}